<page-header [title]="'用户管理'"></page-header>
<nz-card>
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="username">登录账号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.username" name="username" placeholder="请输入" id="username">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="nickName">用户昵称</nz-form-label>
          <nz-form-control>
            <input nz-input id="nickName">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="getData()" class="mx-sm">重置</button>
        <a (click)="expandForm=!expandForm">
          {{expandForm ? '收起' : '展开'}}
          <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
        </a>
      </nz-col>
    </nz-row>
  </form>
  <button nz-button (click)="add()" [nzType]="'primary'">
    <i nz-icon type="plus"></i>
    <span>新建</span>
  </button>
  <div class="search-result-list">
    <nz-table #nt [nzData]="dataSet" [nzLoading]="loading" nzShowSizeChanger [nzShowTotal]="rangeTemplate" [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize" [nzTotal]="total" [nzFrontPagination]="false" (nzPageIndexChange)="list()" (nzPageSizeChange)="list(true)" >
      <thead>
        <tr>
          <th>登录账号</th>
          <th>用户昵称</th>
          <th>电子邮箱</th>
          <th nzShowSort [(nzSort)]="sortMap.status" (nzSortChange)="sort('status',$event)" nzShowFilter [nzFilters]="filterStatus"
            (nzFilterChange)="filterStatusChange($event)">状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nt.data">
          <td><a (click)="view(data)">{{data.username}}</a></td>
          <td>{{data.nickName}}</td>
          <td>{{data.email}}</td>
          <td>
            <nz-badge nzStatus="{{data.statusType}}" nzText="{{data.statusText}}"></nz-badge>
          </td>
          <td>
            <a (click)="edit(data)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="updateStatus(data)">
              <span *ngIf="data.status == '0'">停用</span>
              <span *ngIf="data.status == '2'">启用</span>
            </a>
          </td>
        </tr>

        <ng-template #rangeTemplate let-range="range" let-total>
          当前 {{range[0]}}-{{range[1]}} 条, 共 {{total}} 条
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</nz-card>
