<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [page]="page" [ps]="5">
    <ng-template st-row="status" type="" let-item>
      <nz-badge [nzStatus]="status[item.status].type" [nzText]="status[item.status].text "></nz-badge>
    </ng-template>
  </st>
</nz-card>
