<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="moduleName">模块名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="moduleName" id="moduleName">
          <nz-form-explain *ngIf="validateForm.get('moduleName').dirty && validateForm.get('moduleName').errors">
            The input is not valid E-mail!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="moduleCode">模块编码</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="moduleCode" id="moduleCode">
          <nz-form-explain *ngIf="validateForm.get('moduleCode').dirty && validateForm.get('moduleCode').errors">
            The input is not valid E-mail!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzFor="moduleDesc">模块描述</nz-form-label>
        <nz-form-control>
          <textarea nz-input [nzAutosize]="{ minRows: 2 }" id="moduleDesc"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24" *ngIf="op=='view'">
      <nz-form-item>
        <nz-form-label nzFor="version">当前版本</nz-form-label>
        <nz-form-control>
          <label id="version"></label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>