<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #table [nzData]="listOfMapData" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="30%">菜单名称</th>
      <th nzWidth="20%">归属模块</th>
      <th>链接</th>
      <th nzWidth="20%">可见</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of table.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
        <tr *ngIf="item.parent && item.parent.expand || !item.parent">
          <td
            [nzIndentSize]="item.level * 20"
            [nzShowExpand]="!!item.children"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key],item,$event)">
            {{item.menuName}}
          </td>
          <td>{{item.moduleName}}</td>
          <td>{{item.url}}</td>
          <td>{{item.isVisible}}</td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</nz-card>
